* {
  font-family: 'Muli', sans-serif;
  color: $dark-grey;
}


body {
  background: $light-grey;
}

.grid {
  display: grid;
  grid-template-rows: 3.5rem auto ;
  grid-template-areas: "header"
                        "main";
  height: 100vh;
}