.recipe--button__button{
  height: 3rem;
  width: 90%;
  margin: 0.5rem;
  border: none;
  border-radius: 0.8rem;
  background-color: $light-blue;
  text-decoration: none;
}

.recipe--button__link {
  text-decoration: none;

  &:hover,
  &:active {
    color: $dark-purple;
  }
}