.upload--recipe {
  background: url('../../images/backgorund.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(30%);

  h1 {
    font-size: 2.5rem;
    color: $dark-purple;
  }
}

.upload--recipe__container{
  width: 60%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  border-radius: 2rem;
  padding: 1rem;

  p {
    font-size: 1rem;
  }

  button{
    width: 70%;
  }
}

.upload--recipe__container__form {
  display: grid;	
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-auto-rows: minmax(min-content, 3rem);
  grid-row-gap: 1rem;
  width: 70%;
  margin: auto;
  
  div{
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 1rem;
    justify-items: left;
  }

  * {
    align-self: center;
    justify-self: start;
  } 
}


